* {
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
}

body {
    /* background-color: beige; */
    background-image: url('download.jfif');
    background-size: cover;
    /* filter:blur(8px); */
}

.background-text {
    color: white;
    font-size: larger;
    font-weight: bolder;
}

nav,
ul,
a {
    color: white;
    font-weight: bolder;
    font-size: larger;
    word-spacing: 7rem;
    width: fit-content;
}

a {
    text-decoration: none;
}

.card {
    width: 80%;
    box-sizing: border-box;
    border: white;
    background-image: url("download (1).jfif");
    background-size: cover;
    padding: 2%;
}

h2 {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    padding: 1rem;
}

/* Gallery container styling */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styling each image */
.gallery img {
    width: 200px;
    height: 250px;
}

/* Card2 container styling to align sections horizontally */
.card2 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 30px;
    padding: 20px;
}

.section {
    display: inline-block;
    vertical-align:bottom;
    width: 30%;
    /* Adjust width as needed for proper alignment */
    margin: 10px;
    text-align: center;
    background-color: black;
    padding:1%
}

/* Slideshow styling */
.slideshow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    background-color: black;
    max-height: 200px;
}

.slideshow img {
    width: 250px;
    /* Fixed width for images in the slideshow */
    height: 200px;
}

button{
    padding: 1%;
    font-size: larger;
}